<section id="intro" class="s-intro target-section">

        <div class="row intro-content">

            <div class="column large-9 mob-full intro-text">
                <h3>Hello, I'm {{myData.name}}</h3>
                <h1>
                    Digital Designer <br>
                    and Web Developer <br>
                    Based In Somewhere.
                </h1>
            </div>

           
            </div>
            

            <div class="intro-grid"></div>
            <div class="intro-pic"></div>

        </div> <!-- end row -->

    </section> <!-- end intro -->
